<nav class="bg-[#fff7de] shadow-md sticky top-0 z-50">
    <div class="container mx-auto px-4 py-2">
      <div class="flex justify-between items-center h-16">
        <!-- Brand -->
        <a href="/" class="flex items-center space-x-2">
          <img src="https://github.com/violentanirudh/pureinsight/blob/main/public/img/logo.png?raw=true" alt="MyWebsite Logo" class="h-12 w-auto">
        </a>
  
        <!-- Desktop Menu -->
        <div class="hidden md:flex items-center space-x-6">
          <a href="/aboutus" class="text-gray-600 hover:text-green-500 transition-colors">About Us</a>
          <a href="/blog" class="text-gray-600 hover:text-green-500 transition-colors">Blog</a>
          <a href="/qr" class="text-gray-600 hover:text-green-500 transition-colors">QR Codes</a>
          <% if (locals.user) { %>
            <a href="/scan" class="text-gray-600 hover:text-green-500 transition-colors">Scan</a>
            <a href="/search" class="text-gray-600 hover:text-green-500 transition-colors">Search</a>
            <a href="/profile" class="text-zinc-600 hover:text-green-700 transition-colors">Account</a>
        <% } else { %>
            <a href="/account" class="text-zinc-600 hover:text-green-700 transition-colors">Account</a>
        <% } %>
        </div>
  
        <!-- Hamburger Button -->
        <button id="menu-btn" class="md:hidden focus:outline-none text-gray-600">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16m-7 6h7"></path>
          </svg>
        </button>
      </div>
  
      <!-- Mobile Menu -->
      <div id="mobile-menu" class="hidden md:hidden space-y-2 text-center py-6">
            <a href="/aboutus" class="text-gray-600 hover:text-green-500 block transition-colors">About Us</a>
            <a href="/blog" class="text-gray-600 hover:text-green-500 block transition-colors">Blog</a>
            <a href="/qr" class="text-gray-600 hover:text-green-500 block transition-colors">QR Codes</a>
            <% if (locals.user) { %>
            <a href="/scan" class="text-gray-600 hover:text-green-500 block transition-colors">Scan</a>
            <a href="/search" class="text-gray-600 hover:text-green-500 block transition-colors">Search</a>
            <a href="/profile" class="text-zinc-600 hover:text-green-700 block transition-colors">Account</a>
        <% } else { %>
            <a href="/account" class="text-zinc-600 hover:text-green-700 block transition-colors">Account</a>
        <% } %>
      </div>
    </div>
  </nav>

  <script>
    // Mobile Menu Toggle
    const menuBtn = document.getElementById('menu-btn');
    const mobileMenu = document.getElementById('mobile-menu');
  
    menuBtn.addEventListener('click', () => {
      mobileMenu.classList.toggle('hidden');
    });
  </script>