<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
    <%- include('partials/nav') %>

    <section class="about-section relative overflow-hidden py-20 px-4 md:px-8">
        <div class="container mx-auto max-w-screen-lg">
            <h1 class="text-[#2F4F2F] text-4xl md:text-5xl font-bold mb-16 text-center">About us</h1>
            
            <div class="flex gap-12 items-center flex-col">
                
                <div class="flex justify-start">
                    <div class="team-member w-full sm:w-1/2 ">
                        <div class="member-info">
                            As we know, packaged food and body-care items are part of our daily routine, definitely we want to use product with suitable ingredients for our self. It's quiet difficult to research manually as well as time-consuming.
                        </div>
                    </div>  
                </div>
                      
                <div class="flex justify-end">
                    <div class="team-member w-full sm:w-1/2">
                        <div class="member-info">
                            In this fast world, we need time saving approaches. So by scanning barcode of product, you can see pros and cons of every ingredients rather then searching manually.
                        </div>
                    </div>
                </div>

            </div>
        </div>
        
    <section class="team-section max-w-screen-lg mx-auto px-4 py-16 my-20">
        <h1 class="text-center text-4xl mb-16">
            <span class="text-[#2F462F] font-bold">An energetic and dedicated team </span>
            <span class="text-[#8BA88B]">driving a project that's making </span>
            <span class="text-[#2F462F] font-bold">a meaningful impact</span>
        </h1>

        <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
            <div class="team-member">
                <div class="member-info">
                    <h3 class="name">Megha Apalia</h3>
                    <p class="role">Front-end Developer</p>
                    <p class="education">4th year CE student at GECR</p>
                </div>
            </div>

            <div class="team-member">
                <div class="member-info">
                    <h3 class="name">Anirudh Singh</h3>
                    <p class="role">Back-end Developer</p>
                    <p class="education">4th year EC student at GECR</p>
                </div>
            </div>

            <div class="team-member">
                <div class="member-info">
                    <h3 class="name">Liza Lunagariya</h3>
                    <p class="role">UI/UX</p>
                    <p class="education">4th year CE student at GECR</p>
                </div>
            </div>

            <div class="team-member">
                <div class="member-info">
                    <h3 class="name">Dhruvil Meniya</h3>
                    <p class="role">Back-end Developer</p>
                    <p class="education">4th year CE student at GECR</p>
                </div>
            </div>
        </div>
    </section>
    <script>
        feather.replace()
    </script>
</body>
</html>